<%- include("./partials/header")%>
<h1>Archived list</h1>
<ul>
    <% todo.forEach(function(todo){%>
        <%if(todo.author.id.equals(currentUser._id)){%>
        <li>
            <ol>
                <li><strong>Title: </strong> <%= todo.title%></li>
                <li><strong>Date of creation: </strong><%=todo.created%></li>
                <li><strong>Due Date: </strong><%=todo.dueDate%></li>
            </ol>
        </li>
        <form action="/todo/<%=todo._id%>?_method=PUT" method="POST">
            <input type="submit" name="todo[type]" value="current">
        </form>
        <%}%>
    ========================================================
    <%})%>
</ul>
<a href='/'>Go to Home page</a>
<%-include('./partials/footer')%>