<%- include("./partials/header")%>
    <h1>this is fucking insane</h1>
    <form action="/" method="POST">
        <label for='title'>To-do: </label>
        <input type="text" name='todo[title]' placeholder="add a To-do here" id="title">
        <label for="dueDate">enter due date: </label>
        <input type="date" name="todo[dueDate]" id="dueDate">
        <input type="submit" value="submit">
    </form>
    <ul>
        <% todo.forEach(function(todo){%>
                <li>
                    <ol>
                        <li><strong>Title: </strong> <%=todo.title%> </li>
                        <li><strong>date of creation: </strong></li><%=todo.created%></li>
                        <li><strong>Due Date:   </strong><%=todo.dueDate%></li>
                    </ol>
                </li>
================================================================
        <%})%>
    </ul>
<%-include('./partials/footer')%>