<%- include("./partials/header")%>
<h1>this is fucking insane</h1>
<%if(!currentUser){%>
    <p> <a href="/register">Register here</a></p>
    <p><a href="/login">Login here if already registered</a></p>
   
    <%}else{%>
<form action="/todo" method="POST">
    <label for='title'>To-do: </label>
    <input type="text" name='title' placeholder="add a To-do here" id="title">
    <label for="Label">Add label</label> 
    <select name="Label" id="label">
        <option value="Personal">Personal</option>
        <option value="Work">Work</option>
        <option value="Shopping">Shopping</option>
        <option value="Others">Others</option>
    </select>
    <label for="dueDate">enter due date: </label>
    <input type="date" name="dueDate" id="dueDate">
    <input type="submit" value="submit">
</form>
<ul>
    <% todo.forEach(function(todo){%>
        <%if(todo.author.id && todo.author.id.equals(currentUser._id)){%>

            <% if(todo.status!='archive'){%>
    <li>
            <ol>
                <li><strong>Title: </strong> <%=todo.title%> </li>
                <li><strong>Label:</strong> <%= todo.Label %></li>
                <li><strong>date of creation: </strong></li><%=todo.created%>
        </li>
        <li><strong>Due Date: </strong><%=todo.dueDate%></li>
        </ol>
        </li>
        <form action="/todo/<%=todo._id%>?_method=PUT" method="POST">
            <input type="submit" name="todo[status]" value="archive">
        </form>
        <%if(todo.status!='active'){%>
        <form action="/todo/<%=todo._id%>?_method=PUT" method="POST">
            <input type="submit" name="todo[status]" value="active">
        </form>
        <%}%>
        <%}%>
   
    <%}%>
    
    ================================================================
    <%})%>
</ul>
<a href="/logout">logout</a>
<a href='/archive'>view archived to-dos</a>
<%}%>
<%-include('./partials/footer')%>